body {
	background-color: beige;
	border: 2px solid red;
	padding: 25px;
}

.LI {
	padding: 10px;
	border: 1.5px dashed blue;
	background-color: #ffffff;
	text-align: center;
}

#textb {
	padding: 10px;
	border: 1.5px solid red;
	background-color: #ffffff;
	text-align: center;
}

#Sub {
	padding: 10px;
	border: 1.5px solid yellow;
	background-color: #ffffff;
	text-align: center;
}

h1, h3, h5 {
	background-color: #ffffff;
	border: 5px solid yellow;
	text-align: right;
}

h2, h4, h6 {
	background-color: #ffffff;
	border: 1.5px solid green;
	text-align: left;
}

h1 {
	padding: 5px;
}

h2 {
	color: orange;
	padding: 10px;
}

h3 {
	padding: 15px;
}

h4 {
	color: purple;
	padding: 20px;
}

h5{
	padding: 25px;
}

h6 {
	color: brown;
	padding: 50px;
}

li {
	font-family: "Papyrus", Times, serif;
	font-weight: bold;
}

p {
	font-family: "Papyrus", Times, serif;
	font-weight: italic;
}

a {
	font-family: "Arial Black", Times, serif;
}